hey {
  font-size: 2em;
  text-align: center;
}

body {
  color: blue;
  background-image: url("http://www.incomeactivator.com/images/freebg1.jpg");

}

h1 {
   color: lightblue;
    font-size: 85px;
  text-align: center;
  background-image: url("http://www.incomeactivator.com/images/freebg1.jpg");
}
h2 {
  text-align: center;
  
  
}


h3 {
  text-align: center;
  
}

.table1{
  font-size: 4em;
  float: top left;
}
header#page_header nav ul li{
                list-style: none;
            }
            
            a{
                text-decoration: none;
                float: top-left;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background-color: #12aa21;
                font-size: 20px;
                color: #ffffff;
                font-family: arial, verdana, sans-serif;
               
            }
            
            a:hover{
                background-color: #432234;
            }
#page_header{
  position: fixed;
  top: 0px;
  left: 0px;
}
#barl{
  position: absolute;
  left: 0px;
  padding: 0px;
  margin: 0px;
}
#barn{
  position: absolute;
  left: 0px;
}
