.hey {
  font-size: 2em;
}

body {
  color: blue;
  background-image: url("http://www.incomeactivator.com/images/freebg1.jpg");

}

h1 {
   color: orange;
    font-size: 85px;
  text-align: center;
}
.table1{
  font-size: 4em;
  float: top left;
}
